@import "partials/settings";
@import "partials/mixins";
@import "../public/bower_components/foundation/scss/foundation";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

// Globals defined in _settings.scss

header.header_block {
  @media #{$medium-down} {
    .row {
      .columns {
        padding: 0;
        margin: 0;
      }
    }
  }

  @media #{$large-up} {
    background-color: $color_darkgrey;
    background-image: url('/images/border.png');
    background-repeat: repeat-x;
  }

  nav.top-bar {
    // background-color: yellow;
    background-color: $color_darkgrey;
    padding: 22px 0 45px 0;

    @media #{$medium-down} {
      background-image: url('/images/border.png');
      background-repeat: repeat-x;
    }

    @media #{$medium-only} {
      padding: 70px;
      padding-right: 45px;
    }

    @media #{$large-up} {
      padding: 60px 45px 70px 37px;
      margin-top: 10px;
    }

    ul.title-area {
      // background-color: red;

      li.name {
        position: relative;

        .flappy_logo {
          // background-color: yellow;
          width: 76px;
          position: absolute;
          left: 10px;
          top: -10px;

          @media #{$medium-up} {
            left: -30px;
            top: 0;
          }

          @media #{$large-up} {
            width: 110px;
            left: 232px;
            top: 4px;
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        h1 {
          // background-color: pink;
          text-align: left;
          padding-left: 78px;

          @media #{$medium-up} {
            text-align: center;
            padding-left: 18px;
          }

          a {
            // background-color: red;
            @include font_settings(1.1em, $color_aqua, 400, uppercase, 4px);

            @media #{$medium-only} {
              letter-spacing: 3px;
              display: block;
              padding: 0;
              margin-left: 32px;
              margin-top: -24px;
              line-height: 20px;
            }

            @media #{$large-up} {
              @include font_settings(3.1em, $color_aqua, 700, uppercase, 8px);
              margin-left: 0px;
              margin-left: -24px;
              margin-top: -52px;
            }

            span {
              // background-color: lightgrey;
              @media #{$medium-down} {
                color: $color_white;
              }

              @media #{$medium-only} {
                display: block;
                text-align: left;
              }

              @media #{$large-up} {
                margin-left: 70px;
              }
            }
          }
        }
      } // li.name

      li.toggle-topbar.menu-icon {
        // background-color: grey;
        margin-top: -28px; // Override -16px

        a {
          span {
            &::after {
              right: 22px; // Override 15px
              width: 22px; // Override 16px
              // Override
              box-shadow: 0 0px 0 2px $color_aqua,
                          0 8px 0 2px $color_aqua,
                          0 16px 0 2px $color_aqua;
            }
          }
        }
      }
    }

    section.top-bar-section {
      ul.right {
        li {
          a {
            @include font_settings(0.9em, $color_aqua, 400, uppercase, 2px, 1.35em);

            @media #{$medium-up} {
              background-color: $color_darkgrey;
              padding: 0;
              padding-left: 28px;
              margin-top: -9px;
            }

            @media #{$large-up} {
              // background-color: red;
              border-bottom: 5px solid $color_aqua;
              padding: 14px;
              padding-top: 0;
              margin-top: -21px;
            }

            &:hover {
              color: $color_white;

              @media #{$large-up} {
                border-bottom: 5px solid $color_white;
              }
            }
          }

          @media #{$medium-up} {
            &:first-child {
              a {
                padding-left: 0;
              }
            }
          }

          @media #{$large-up} {
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    } // section.top-bar-section
  } // nav.top-bar
} // header.header_block

.main_content {
  @media #{$medium-down} {
    .row {
      .columns {
        padding: 0;
        margin: 0;
      }
    }
  }

  @media #{$large-up} {
    // background-color: orange;
    padding-top: 48px;
  }

  section.content_features {
    .content_bg {
      background-image: url('/images/scenery.png');
      background-repeat: no-repeat;
      background-position: 97% 50%;
      width: 100%;
      height: 266px;

      @media #{$medium-up} {
        background-repeat: repeat-x;
        background-position: 0% 50%;
      }

      @media #{$large-up} {
        border: 4px solid $color_darkgrey;
      }
    }

    nav.features_nav {
      background-color: tan;
      text-align: center;

      ul {
        background-color: yellow;
        list-style-type: none;
        margin: 0; // Remove weird margin-left setting

        li {
          background-color: $color_aqua;
          border-bottom: 1px solid $color_teal;
          padding: 14px 0;

          &:first-child {
            background-color: $color_darkgrey;
            border: 1px solid $color_darkgrey;
            padding: 6px 0;

            h2 {
              @include font_settings(1em, $color_aqua, 400, uppercase, 2px, 1.35em);
            }
          }

          a {
            // background-color: pink;
            @include font_settings(0.9em, $color_darkgrey, 900, uppercase, 2px, 1.35em);

            span {
              color: $color_white;
            }
          }
        }
      }
    }
  } // section.content_features

  section.content_text {
    // background-color: orange;
    padding: 27px 56px 17px 36px;

    @media #{$medium-up} {
      padding: 32px 72px 22px 48px;
    }

    @media #{$large-up} {
      padding: 20px 0;
    }

    p {
      @include font_settings(1.5em, $color_darkgrey, 700, none, none, 1.35em);

      @media #{$large-up} {
        // background-color: lightgrey;
        @include font_settings(1.7em, $color_darkgrey, 700, none, 1px, 1.23em);
      }

      span.bird {
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  } // section.content_text
} // .main_content

footer.footer_block {
  background-color: $color_darkgrey;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;

  @media #{$small-only} {
    #center_nav {
      display: none;
    }
  }

  nav.footer_nav {
    // background-color: lightgrey;
    padding: 26px 20px 39px 20px;

    @media #{$medium-up} {
      padding: 39px 20px;
    }

    ul {
      // background-color: tan;
      list-style-type: none;
      margin: 0;

      @media #{$large-up} {
        border-left: 3px solid $color_aqua;
        padding-left: 28px;
      }

      li {
        // background-color: pink;
        margin-top: 8px;

        a {
          @include font_settings(0.9em, $color_aqua, 400, uppercase, 2px, 1.35em);

          &:hover {
            color: $color_white;
          }
        }
      }
    }
  } // nav.footer_nav

  .footer_banner {
    // background-color: green;
    padding-top: 8px;
    padding-bottom: 6px;

    @media #{$medium-only} {
      padding-top: 3px;
    }

    @media #{$large-up} {
      background-color: $color_aqua;
      margin-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 64px;
    }

    p {
      // background-color: yellow;
      text-align: center;
      @include font_settings(0.9em, $color_white, 400, uppercase, 2px, 1.35em);

      @media #{$large-up} {
        margin: 0;
        @include font_settings(0.9em, $color_darkgrey, 900, uppercase, 2px, 1.35em);
      }
    }
  } // .footer_banner
} // footer.footer_block
